/**
 CSS layout document for home.html.
developed by Keawe Aquarian 260351368, Magda Prieto 261067065, Qi Yao 261051100
script date Nov,  2022
*/

* {
  padding: 0%;
  margin: 0%;
}

body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header--fixed.top {
  transition: none;
  transform: translateY(0);
}
.header--fixed.not-top {
  position: fixed;
  transform: translateY(-100%);
}
.header--fixed.slideDown.not-top {
  transition: transform 0.6s ease-in-out;
  transform: translateY(0);
}
.header--fixed.slideDown.top {
  transition: transform 0.6s ease-in-out;
  position: fixed;
}
.header--fixed.slideUp.not-top {
  transition: transform 0.6s ease-in-out;
  transform: translateY(-100%);
}
.header--fixed.slideUp.top {
  transform: translateY(-100%);
  position: absolute;
}

#bottomNav{
  margin-top: 13px;
  display: flex;
  margin-right: 20px;
  font-style: italic;
}

.resume{
  padding: 6px 8px;
  color: #fffb00;
  background-color: rgba(117, 115, 115, 0.529);
  font-weight: 600;
  font-size: 18px;
  font-style: italic;
  border: #07070766;
  border-style: groove;
  border-radius: 3px;
  margin-left: 20px;
}

.resume:hover {
  color: #fdfdfcd3;
 }




main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

main img {
  background: #7991f072;
  
}



.comments {
  padding: 10px;
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
/* DEMO-SPECIFIC STYLES */
.comments h1 {
  color: rgb(4, 4, 4);
  /* font-family: monospace; */
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /* border-right: .15em solid rgb(182, 182, 181);  */
  /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; 
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 80% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(182, 182, 181) }
}

#imgMe {
  width: 50px;
  border-radius: 33px;
  padding: 0%;
  float: left;
  margin: 0 0 0 10px;
  filter: brightness(90%)
}

.comments h1 {

  font-size: 165px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
  width: 80%;
}

.comments h2 {
  padding: 10px 0;
  width: 70%;
  align-items: center;
  font-size: 30px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.journeys {
  width: 90%;
  margin: auto;
  text-align: center;
  padding-top: 40px;
}

.journeysRow {
  margin-top: 20px;
   display: flex;
  flex-direction: row; 
  margin-bottom: 10%;
  /* align-items: flex-start;
  justify-content:left;  */

}




.journeysCol {
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */
  border-radius: 10px;
  margin-bottom: 30px;
  /* position: relative;
  overflow: hidden; */
  margin: 0% 60px;
  width: 50%;
  margin-left: 12%;
  text-align: left;
}
.journeysColWeb {
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */
  border-radius: 10px;
  margin-bottom: 30px;
  /* position: relative;
  overflow: hidden; */
  margin: 0% 10px 0 60px;
  width: 90%;
  margin-left: 12%;
  text-align: left;
}

.journeys h2 {

  font-size: 40px;
  margin: 50px;

}

.journeysCol h1 {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-size: 50px;
}

.journeysCol p {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-size: 25px;
}
.journeysColWeb h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-size: 50px;
}

.journeysColWeb p {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-size: 25px;
}

.seeLive {
  background-color: #faf8f8;
  border-color: #fc1707;
  border-radius: 3px;
  padding: 8px;
  border-style: solid;
  border-width: 2px;
  color: #fc1707;
  font-weight: 600;
}
.seeLive:hover  {
  color: #464646d3;
  border-color: #464646d3;
 }

.sourceCode {
  background-color: #faf8f8;
  padding: 8px;
  color: #fffb00;
  background-color: rgba(3, 3, 3, 0.529);
  /* color: #0606e5af; */
  font-weight: 600;
  border: #07070766;
  border-style: groove;
  border-radius: 3px;
}
.sourceCode:hover  {
  color: #fdfdfcd3;
 }



.journeysRow img {
  padding: 0%;
  margin-top: 6%;
  width: 365px;
  height: 90%;
  background-color: white;
}
.stackLogo {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.stackLogo figure {
  margin: 0 10px;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
}
.stackLogo img{
  width: 50px;
  height: 55px;
  object-fit:scale-down;
  background-color: transparent;
}
.serviceIcons img{
  width: 50px;
  height: 25px;
  object-fit:scale-down;
  background-color: transparent;
}

.title {
  margin-left: 0%;
  margin-top: 10px;
  border-radius: 24px;
  background: transparent;
  height: 95%;
  width: 360px;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: 0.4s;
  cursor: pointer;
  padding-left: 5px;

}



.title:hover {
  background: #5575f33e;
}





/* Popup container */
.popup {
  position: relative; 
  display: inline-block;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

}


/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 355px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0;
  margin: 0%;
  position: absolute;
  z-index: 1;
  
}
.popup .popuptext video {
  margin: 0;
  padding: 0;
  width: 355px;
  
}



/* Popup*/
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  /* margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent; */
}

/* what pops up */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Fade action */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

button {
  cursor: pointer;
}

.services {
  width: 80%;
  margin: 30px auto;
  text-align: center;
  padding-top: 40px;
  max-width: 1200px;
}

.servicesRow {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

.servicesCol {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  /* overflow: hidden; */
  margin: 0% 30px;
  background: #e3e3e3;
  display: flex;
  justify-content: baseline;
  align-items: flex-end;
  margin-bottom: 30px;
}

.servicesCol img {
  width: 100%;
  height: 90%;
  background-color: transparent;
}

.servicesTitle {
  margin: 0%;
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: 0.4s;
  cursor: pointer;
}

.servicesTitle:hover {
  background: #7991f072;
}

/* The actual popup (appears on top) */
.servicesPopup .servicesPopuptext {

  visibility: hidden;
  width: 355px;
  /* background-color: #555; */
  
  color: rgb(1, 1, 1);
background-color: rgb(231, 229, 229);
  border-radius: 6px;
  padding: 5px;
  margin: 0%;
  position: absolute;
  z-index: 1;
}

.servicesPopuptext h4{
margin: 5px;
}

.servicesPopuptext .sourceCode{
  margin-top: 5px;
  margin-bottom: 0;
  }
/* Popup*/
.servicesPopup .servicesPopuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
}

/* what pops up */
.servicesPopup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}
.servicesLogo{

  margin: 20px 50px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr 1fr 1fr;
  place-self: center;

}

.servicesLogo img{
  width: 50px;
  height: 55px;
  object-fit:scale-down;
  background-color: transparent;
}

article {
  width: 100%;
  padding-left: 20px;
}

#list {
  /* width: 100%; */
  display: flex;
  color: #021c53ac;
  width: 100%;

}

article h2 {
  margin-left: 80px;
}

.firstList {
  padding-left: 150px;
  margin-top: 10px;
}

.secondList {
  padding-left: 30px;
}

.thirdList {
  padding-left: 30px;
}

.button {
  border-radius: 2px;
}

.button a {
  padding: 8px 12px;
  border: 1px solid #ED2939;
  border-radius: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #ffffff; 
  text-decoration: none;
  font-weight: bold;
  display: inline-block;  
}

.travelImg img{
  margin-right: 10px;
 width: 250px;
 height: 200px;
 border:2px solid #fff; 
 box-shadow: 10px 10px 5px #ccc;
 -moz-border-radius:25px;
 -webkit-border-radius:25px;
 border-radius:5px;
}


/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.social {

  position: fixed;
  top: 80%;
  left: 1%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.social a {
  display: block;
  text-align: start;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* footer{


  background-size: 100% 100%;
  padding-bottom: 40px;
  padding-top: 0;
} */

footer {
  position: relative;
  height: 180px;
  margin-left: 10%;
  width: 83%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding-top: 0%;
  margin-bottom: 0%; */
  padding-top: 20px;

}

footer::before {
  background-image: url("../images/brain.jpg");
  content: "";
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
  pointer-events: none;
  height: 220px;
  
}

footer h3{
  padding-top: 0;
  font-weight: 600;
  font-size: larger;
  position: relative;
  text-align: center;
}

footer p{
  width: 90%;
  font-weight: 500;
  font-size: large;
  position: relative;
  text-align: center;
  padding: 5px;
}




/* Tablet layout settings */
@media (max-width: 900px) {

  .firstList {
    padding-left: 50px;
  }

  .testimonial {
    width: 100%;

  }
}

@media (max-width: 700px) {

  .firstList {
    padding-left: 20px;
  }

}

/* Mobile layout settings */
@media (max-width: 550px) {

  main {
    padding-top: 40%;
  }

  .testimonialRow {
    flex-direction: column;
  }

  .journeysRow {
    flex-direction: column;
  }

  .journeysCol {
    margin-bottom: 20px;
  }

  #list {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #021c53ac;

  }

}